# JWT
JWT_SECRET=change-this-to-a-secure-random-string

# Crossmint
CROSSMINT_API_KEY=
CROSSMINT_BASE_URL=
TREASURY_SIGNER_SECRET=
TREASURY_RECOVERY_SECRET=
WALLET_SIGNER_SECRET=
WALLET_RECOVERY_SECRET=

# Wallet
USER_WALLET_CHAIN=base

# Networks
SUPPORTED_NETWORKS=BASE,ETHEREUM,SOLANA,POLYGON
NETWORK_CHAIN=base,ethereum,solana,polygon

# Treasury
TREASURY_CHAIN=base
HOT_TARGET=50000
HOT_THRESHOLD_MIN=20000
HOT_REFILL_AMOUNT=100000
WARM_TARGET=500000
WARM_THRESHOLD_MIN=250000
WARM_REFILL_AMOUNT=1000000
REFILL_INTERVAL=60000
